<body>

<p>Select an account to view or option below:</p>

<select onChange="window.location.href=this.value">
	<option value="/">Main Menu</option>
	<option value="/data?name=Sonia" selected="selected">Account: Sonia</option>
	<option value="/data?name=Priya">Account: Priya</option>
	<option value="/printcsv">Print All Stored Transactions & Edit Information</option>
	<option value="/addcsv">Add New Transaction</option>
</select>

<% #@names.each do |name| %>

<h1 class="test"> <%= @name.capitalize %> </h1>
<p>Total Balance: $<%= @data[@name].getBalance.to_s %></p>

	<table>
	<tr>
		<td>Category</td>
		<td>Total Spent</td>
		<td>Average Transaction</td>
	</tr>

	<% @data[@name].getCategoryData.each do |key, value| %>
	<tr>
		<td><%= key %></td>
		<td>$<%= value.getTotal.to_s %></td>
		<td>$<%= value.getAverage.to_s %></td>
	</tr>
	<% end %>
	</table>

<% #end %>
</body>