<p class="page_title">Edit/Update Transaction Information</p>

<% editrow = @rows.values_at(@row_to_edit).shift
	newArray = editrow.split(",") %>

<table class="edit_table">
	<tr class="bottom_border">
		<td><strong>Account:</strong></td>
		<td><%= newArray[0] %></td>
	</tr>
	<tr class="bottom_border">
		<td><strong>Date:</strong></td>
		<td><%= newArray[1] %></td>
	</tr>
	<tr class="bottom_border">
		<td><strong>Payee:</strong></td>
		<td><%= newArray[2] %></td>
	</tr>
	<tr class="bottom_border">
		<td><strong>Category:</strong></td>
		<td><%= newArray[3] %></td>
	</tr>
	<tr class="bottom_border">
		<td><strong>Outflow:</strong></td>
		<td><%= newArray[4] %></td>
	</tr>
	<tr>
		<td><strong>Inflow:</strong></td>
		<td><%= newArray[5] %></td>
	</tr>
</table>

<p class="center"><strong>Select the item of the transaction you with to update:</strong></p>

<div class="center">
<form action="/editrow" method="post">
	<select name="x">
		<option value="0">Account</option>
		<option value="1">Date</option>
		<option value="2">Payee</option>
		<option value="3">Category</option>
		<option value="4">Outflow</option>
		<option value="5">Inflow</option>
	</select>
	<p>Enter the updated text or value:</p>
	<p><input type="text" name="info_to_edit" placeholder="Updated Info Here" required></p>
	<p><input type="submit" value="Update"></p>
</form>
<form action="/printcsv" method="get">
	<p><input type="submit" value="Cancel"></p>
</form>
</div>